{% extends base %}
{% from macros import embed %}
{% block preamble %}
<script src="https://cdn.tailwindcss.com"></script>
<style type="text/tailwindcss">
  .card {
    color: black;
    width: 650px;
    @apply p-6 bg-white border border-gray-200 rounded-lg shadow-md
  }
</style>
<style>
  body {
    color: #fff;
    background: #2F2F2F;
  }
</style>
<script>
  tailwind.config = {
    theme: {
      fontFamily: {
        'sans': ['Avenir'],
      },
      extend: {
        keyframes: {
          bounceX: {
            '0%, 100%': {
              left: '0',
              'animation-timing-function': 'cubic-bezier(0, 0, 0.2, 1)'
            },
            '50%': {
              left: '3px',
              'animation-timing-function': 'cubic-bezier(0.8, 0, 1, 1)'
            }
          }
        },
        animation: {
          bounceX: 'bounceX 1s infinite',
        }
        // keyframes: {
        // }
      }
    }
  }
</script>
{% endblock %}

{% block contents %}
<aside class="animate-bounceX hover:animate-none transition-transform z-10 w-120 bottom-20 -translate-x-[calc(100%-3em)] hover:translate-x-0 fixed" aria-label="Sidebar">
  <div class="pr-12 px-3 py-4 overflow-y-auto rounded bg-gray-800">
    <div class="absolute right-5 top-0 w-0 whitespace-nowrap">
      <h1 class="rotate-90 text-gray-400">Filter Controls</h1>
    </div>
     {{ embed(roots.filter_control) }}
  </div>
</aside>

<div>
  <nav class="flex w-4/5 mx-auto mt-5 mb-3" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a href="/landing_page" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
          <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
          Home
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          <a href="#" class="ml-1 text-sm font-medium hover:text-blue-600 md:ml-2 dark:hover:text-white">Plot</a>
        </div>
      </li>
    </ol>
  </nav>
	<div id="info-box" class="w-4/5 mx-auto rounded relative mb-10 p-9 bg-gray-700">
		<h1 class="text-3xl">SC visualization demo</h1>
		<img class="absolute right-9 top-9" src="pilot/static/images/SC_logo.png" width="170px" />
		<div class="mt-1">
			<p>
			Welcome to Simula Consulting's interactive visualization demo!
			</p>
		</div>
	</div>
	<div class="grid justify-center justify-center grid-cols-[repeat(auto-fit,_650px)] gap-4 w-4/5 mx-auto mt-5">
  {%      for doc in docs %}
  {{        embed(doc) if doc.elementid }}
  {%-       for root in doc.roots if root.name != "filter_control" %}
  <div class="card">
  {{            embed(root) }}
  </div>
  {%        endfor %}
  {%      endfor %}
	</div>
</div>


<footer class="mt-6 p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://simula.consulting/" class="hover:underline">Simula Consulting</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="https://github.com/Simula-Consulting/decipher/" class="hover:underline">GitHub</a>
      </li>
  </ul>
</footer>

{% endblock %}
