{% extends base %}
{% from macros import embed %}
{% block preamble %}
<script src="https://cdn.tailwindcss.com"></script>
<style type="text/tailwindcss">
  .card {
    color: black;
    width: 650px;
    @apply p-6 bg-white border border-gray-200 rounded-lg shadow-md
  }
</style>
<style>
  body {
    color: #fff;
    background: #2F2F2F;
  }
</style>
<script>
  tailwind.config = {
    theme: {
      fontFamily: {
        'sans': ['Avenir'],
      },
      extend: {
        keyframes: {
          bounceX: {
            '0%, 100%': {
              left: '0',
              'animation-timing-function': 'cubic-bezier(0, 0, 0.2, 1)'
            },
            '50%': {
              left: '3px',
              'animation-timing-function': 'cubic-bezier(0.8, 0, 1, 1)'
            }
          }
        },
        animation: {
          bounceX: 'bounceX 1s infinite',
        }
        // keyframes: {
        // }
      }
    }
  }
</script>
{% endblock %}

{% block contents %}
<aside class="animate-bounceX hover:animate-none transition-transform z-10 w-120 bottom-20 -translate-x-[85%] hover:translate-x-0 fixed" aria-label="Sidebar">
  <div class="pr-12 px-3 py-4 overflow-y-auto rounded bg-gray-800">
    <div class="absolute right-5 top-0 w-0 whitespace-nowrap">
      <h1 class="rotate-90 text-gray-400">Filter Controls</h1>
    </div>
     {{ embed(roots.filter_control) }}
  </div>
</aside>

<div>
	<div class="grid justify-center justify-center grid-cols-[repeat(auto-fit,_650px)] gap-4 w-4/5 mx-auto mt-5">
		<div id="info-box" class="col-span-full rounded relative p-9 bg-gray-700">
			<h1 class="text-3xl">SC visualization demo</h1>
			<img class="absolute right-2" src="pilot/static/images/SC_logo.png" width="170px" />
			<div class="mt-1">
				<p>
				Welcome to Simula Consulting's interactive visualization demo!
				</p>
			</div>
		</div>
  {%      for doc in docs %}
  {{        embed(doc) if doc.elementid }}
  {%-       for root in doc.roots if root.name != "filter_control" %}
  <div class="card">
  {{            embed(root) }}
  </div>
  {%        endfor %}
  {%      endfor %}
	</div>
</div>


<footer class="mt-6 p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://simula.consulting/" class="hover:underline">Simula Consulting</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="https://github.com/Simula-Consulting/decipher/" class="hover:underline">GitHub</a>
      </li>
  </ul>
</footer>

{% endblock %}
